header input {
  border: none;
  background-color: #A9F0E2;
  width: 656px;
}
.searchbar {
  background-color: #A9F0E2;
  padding: 8px;
  gap: 100px;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
}
